* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #e6e6e6;
}

header {
  background-color: white;
  padding: 20px;
}

header h1 {
  text-align: center;
}

.score-board {
  border: solid 3px white;
  width: 200px;
  margin: 20px auto;
  font-size: 40px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  padding: 5px;
}

.badge {
  background-color: gold;
  font-size: 14px;
  padding: 3px;
}

#user-label {
  position: absolute;
  top: 15px;
  left: -20px;
}
#comp-label {
  position: absolute;
  top: 15px;
  right: -25px;
}

.result {
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}

.choices {
  text-align: center;
  margin: 50px 0;
}

.choice {
  display: inline-block;
  margin: 0 20px;
}

img {
  width: 175px;
}

.choice:hover {
  cursor: pointer;
  background-color: #bfbfbf;
}

#action-message {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
